


body {
    background-color: #000000;
    display: flex;
    text-align: left;
    margin: auto;
    max-width: 800px;
    justify-content: right;
    align-items: center;
    font-family: 'Inter',sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
    
  }
  
 
h2{
    display: flex;
    text-align: right;
    margin: auto;
    max-width: 1000px;
    justify-content: right;
    align-items: center;
    font-family: 'Josefin Sans',sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-size: 1.5rem;
    padding-top: 20px;
}

h1 {
    display: flex;
    text-align: center;
    margin: auto;
    max-width: 2000px;
    justify-content: right;
    align-items: center;
    font-family: 'Josefin Sans',sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #d70000;
    font-size: 2.5rem;
    padding-top: 40px;
}

h3{
    display: flex;
    text-align: left;
    margin: auto;
    max-width: 1000px;
    justify-content: left;
    align-items: center;
    font-family: 'Josefin Sans';
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-size: 1.0rem;
    padding-top: 20px;
    padding-bottom: 20px;
}