.container{
    display: grid;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "left main right"
        "footer footer footer";
    min-height: 100vh;
    font-family: sans-serif;
    
}

.text{
    grid-area: main;
}