.container{
    display: grid;
    grid-template-columns: 32rem 1fr 32rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "left main right"
        "footer footer footer";
    min-height: 100vh;
    
}

.text{
    grid-area: main;
}