body {
    background-color: #c3c6c8;
    padding-top: 2rem;
}

.header {
    background-color: #c3c6c8;
    border-bottom-style: dashed;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 0rem;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    justify-content: end;
    align-items: left;
    font-family: sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 30px;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    font-size: 1.1rem;
}

.next-page{
    display: flex;
    border-right-style: dashed;
    border-width:1px;
    border-color: #464646;
    color: black;
    flex-direction: row;
    align-items: center;
    height: max-content;
    margin-right: 2rem;
    width: 324%;
    justify-content:right;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-optical-sizing: auto;
    letter-spacing: 30px;
    font-weight: 700;
    position: relative;
    transition: 250ms ease-in-out 100ms;
}

.next-page:hover{
    display: flex;
    border-right-style: dashed;
    border-width:1px;
    border-color: #d65446;
    color: #d65446;
    flex-direction: row;
    align-items: center;
    height: max-content;
    margin-right: 2rem;
    width: 324%;
    justify-content:right;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-optical-sizing: auto;
    letter-spacing: 30px;
    font-weight: 700;
    position: relative;
}

h1 {
    background-color: #c3c6c8;
    border-right-style: dashed;
    border-bottom-style: dashed;
    border-width: 1px;
    border-color:#464646;
    display: flex;
    flex-direction: row;
    gap: 0rem;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    align-items: end;
    justify-content: end;
    font-family: sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 30px;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    font-size: 1.1rem;
}


.title {
    background-color: #c3c6c8;
    border-top-style: dashed;
    border-left-style: dashed;
    border-color: #464646;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    margin-top: -3rem;
    margin-left: 5rem;
    margin-right: 0rem;
    align-items: center;
    justify-content: start;
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 80px;
    font-weight: 400;
    font-style: normal;
    color: #220087;
    font-size: 35rem;
    height: fit-content;
    
}


h3 {
    display: flex;
    border-bottom-style: dashed;
    border-width: 1px;
    border-color:#464646;
    flex-direction: row;
    gap: 0rem;
    margin-top: 18.3rem;
    margin-left: 7rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 30px;
    font-weight: 800;
    font-style: normal;
    color: #000000;
    font-size: 1.1rem;
    position: fixed;
    width: 90%;
}


h2 {
    background-color: #c3c6c8;
    border-top-style: dashed;
    border-width: 1px;
    border-color:#464646;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: right;
    font-family: sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 30px;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    font-size: 1.1rem;
    position: fixed;
    width: 90rem;
}

