.container{
    width: 95%;
}

.item1 {
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: right;
    margin-left: 15rem;
    margin-right: 20rem;
    width: fit-content;
    font-family: sans-serif;
    font-optical-sizing: auto;
    letter-spacing: auto;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
}

.question1 {
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: right;
    margin-left: 15rem;
    margin-right: 20rem;
    margin-top: 1rem;
    width: fit-content;
    font-family: sans-serif;
    font-optical-sizing: auto;
    letter-spacing: auto;
    font-style: normal;
    font-size: 1rem;
    font-weight: 700;
}

.item2 {
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: right;
    margin-left: 40rem;
    margin-right: 20rem;
    width: fit-content;
    font-family: sans-serif;
    font-optical-sizing: auto;
    letter-spacing: auto;
    font-style: normal;
  